* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .team{
    background-image:url("../p3.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
    /*height: 100%;*/
    max-width: 100%; 
  }
  .heading{
    display: flex;
    justify-content:center;
    height: 180px;
    align-items:center;
    position: static;
    top:0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:35px;
    color:#f1b3d1f8;
  }
  .heading2{
    display: flex;
    justify-content:center;
    height: 35px;

    align-items:center;
    position: static;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color:#f1b3d1f8;
  }
 .main{
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: initial;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
 }

  .profile-card{
    position: static;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    height: 150px;
    background:rgba(93, 28, 109, 0.425);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 22px rgba(228, 47, 174, 0.534);
    transition: .6s;
    margin: 10px;
    opacity: 100;
  }
  .profile-card:hover{
    border-radius: 10px;
    height: 260px;
  }
  .profile-card .img{
    position: static;
    max-width: 100%;
    height: 40%;
    transition: .6s;
    z-index: 99;
  }

  .img img{
    max-width:100%;
    border-radius: 50%;
    box-shadow: 0 0 22px rgba(102, 19, 58, 0.658);
    transition: .7s;
    background-color: white;
  }
  .profile-card:hover .img{
    transform: translateY(-50px);
  }

  .profile-card:hover img{
    border-radius: 10px;
  }
  .caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
    border-radius: 30px;
    background-color: white;
  }
  .profile-card:hover .caption{
    opacity: 100;
    background-color:black;
  }
  .caption h3{
    font-size: 21px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 100;
    color: pink;
  }
  .caption p{
    font-size: 15px;
    color:rgb(241, 121, 205);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2px 0 9px 0;
  }
